body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
}

header {
	background-color: #fff;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.idioma{
color:white;
margin-left: 10px;
}

.idiomas-container {
	float: right;
}

h1 {
	color: #333;
	margin: 0;
    
}

h2 {
	font-size: 2.5rem; 
}

nav {
	margin-top: 20px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}

li {
	margin-right: 20px;
}